In [0]:
s0= pd.read_excel("COVID_FINAL_DATA.xlsx",'TimeSeries_KeyIndicators')
s1= pd.read_excel("COVID_FINAL_DATA.xlsx",'TimeSeries_KeyIndicators_Detail')
s2= pd.read_excel("COVID_FINAL_DATA.xlsx",'TimeSeries_Action_Screen')
s3= pd.read_excel("COVID_FINAL_DATA.xlsx",'TimeSeries_Action_Call')
s4= pd.read_excel("COVID_FINAL_DATA.xlsx",'TimeSeries_COVID_News')
s5= pd.read_excel("COVID_FINAL_DATA.xlsx",'TimeSeries_NIH_Response')
s6= pd.read_excel("COVID_FINAL_DATA.xlsx",'TimeSeries_NIH_Risk')
s7= pd.read_excel("COVID_FINAL_DATA.xlsx",'TimeSeries_Province_Response')
s8= pd.read_excel("COVID_FINAL_DATA.xlsx", 'TimeSeries_Helpline_Calls')
s9= pd.read_excel("COVID_FINAL_DATA.xlsx",'TimeSeries_Quarantine_Details')

In [0]:
import numpy as np 
import pandas as pd

In [0]:
s0=s0.fillna(0)

In [0]:
s0.isnull().sum()

Unnamed: 0                           0
Cumulative                           0
Cumulative  Test positive            0
Cumulative  tests performed          0
Date                                 0
Discharged                           0
Expired                              0
Home Quarantine                      0
New  (last 24 hrs)                   0
Region                               0
Still admitted                       0
Tests  performed in last 24 hours    0
dtype: int64

In [0]:
s0.columns=s0.columns.str.upper()

In [0]:
s0.dtypes

UNNAMED: 0                             int64
CUMULATIVE                             int64
CUMULATIVE  TEST POSITIVE              int64
CUMULATIVE  TESTS PERFORMED            int64
DATE                                  object
DISCHARGED                             int64
EXPIRED                                int64
HOME QUARANTINE                      float64
NEW  (LAST 24 HRS)                     int64
REGION                                object
STILL ADMITTED                         int64
TESTS  PERFORMED IN LAST 24 HOURS     object
dtype: object

In [0]:
s0['HOME QUARANTINE']=s0['HOME QUARANTINE'].apply(np.int64)

In [0]:
s0['DATE']=pd.to_datetime(s0['DATE'])

In [0]:
s0['TESTS  PERFORMED IN LAST 24 HOURS'] = pd.to_numeric(s0['TESTS  PERFORMED IN LAST 24 HOURS'], errors='coerce')
s0 = s0.replace(np.nan, 0, regex=True)

In [0]:
s0['TESTS  PERFORMED IN LAST 24 HOURS']=s0['TESTS  PERFORMED IN LAST 24 HOURS'].apply(np.int64)

In [0]:
s0['REGION']=s0['REGION'].str.replace('KPTD','KP & TD')
s0

     UNNAMED: 0  CUMULATIVE  ...  STILL ADMITTED  TESTS  PERFORMED IN LAST 24 HOURS
0             4          48  ...               2                                  8
1             5          61  ...               0                                  7
2             6          84  ...              13                                 55
3             7          20  ...               0                                  2
4             8           3  ...               0                                  0
..          ...         ...  ...             ...                                ...
372           8        4370  ...              10                                141
373           9       11194  ...              18                                759
374          10       17495  ...             616                               1052
375          11       53262  ...            1703                               2737
376          13       54377  ...            1246                               2587

[377 rows x 12 columns]

In [0]:
s1.columns=s1.columns.str.upper()

In [0]:
s1.rename(columns={'PROVINCE OLD':'REGION NO'},inplace=True)
s1['DATE']=pd.to_datetime(s1['DATE'])

In [0]:
s1

          DATE  ... CONFIRMED HW - ACTIVE DEATHS
0   2020-04-04  ...                            0
1   2020-04-04  ...                            0
2   2020-04-04  ...                            0
3   2020-04-04  ...                            0
4   2020-04-04  ...                            0
..         ...  ...                          ...
149 2020-04-25  ...                            2
150 2020-04-25  ...                            1
151 2020-04-25  ...                            1
152 2020-04-25  ...                            0
153 2020-04-25  ...                            0

[154 rows x 52 columns]

In [0]:
s9.rename(columns={'Unnamed: 0':'REGION NO'},inplace=True)
s9.rename(columns={'Regions':'REGION'},inplace=True)
s9.columns=s9.columns.str.upper().str.strip()
s9['DATE']=pd.to_datetime(s9['DATE'])

In [0]:
s9

    REGION NO       REGION  ...  CUMULATIVE NO OF PERSONS PRESENT       DATE
0           0          ICT  ...                                24 2020-04-01
1           1       Punjab  ...                              2956 2020-04-01
2           2        Sindh  ...                              1388 2020-04-01
3           3           KP  ...                              3260 2020-04-01
4           4  Balochistan  ...                               366 2020-04-01
5           5          AJK  ...                               373 2020-04-01
6           6           GB  ...                               526 2020-04-01
7           0          ICT  ...                                31 2020-04-02
8           1       Punjab  ...                              2956 2020-04-02
9           2        Sindh  ...                              1365 2020-04-02
10          3           KP  ...                              3223 2020-04-02
11          4  Balochistan  ...                               364 2020-04-02
12          5          AJK  ...                               188 2020-04-02
13          6           GB  ...                               529 2020-04-02
14          0          ICT  ...                                30 2020-04-03
15          1       Punjab  ...                              2956 2020-04-03
16          2        Sindh  ...                              1363 2020-04-03
17          3           KP  ...                              3312 2020-04-03
18          4  Balochistan  ...                               408 2020-04-03
19          5          AJK  ...                               197 2020-04-03
20          6           GB  ...                               227 2020-04-03

[21 rows x 6 columns]

In [0]:
s2.dtypes

Date                                                     object
Cumulative travelers Screened                             int64
Suspected at Points of Entry                              int64
Travelers Screened at Points ofEntry in last 24 hours     int64
dtype: object

In [0]:
s2.columns=s2.columns.str.upper()
s2['DATE']=pd.to_datetime(s2['DATE'])

In [0]:
s2

         DATE  ...  TRAVELERS SCREENED AT POINTS OFENTRY IN LAST 24 HOURS
0  2020-03-11  ...                                              21102
1  2020-03-12  ...                                              20968
2  2020-03-13  ...                                              19286
3  2020-03-14  ...                                              20428
4  2020-03-15  ...                                              20676
5  2020-03-16  ...                                              20988
6  2020-03-17  ...                                              20187
7  2020-03-18  ...                                              20088
8  2020-03-19  ...                                              17975
9  2020-03-20  ...                                              15398
10 2020-03-21  ...                                              13911
11 2020-03-22  ...                                              14439
12 2020-03-23  ...                                              12301
13 2020-03-24  ...                                              12301
14 2020-03-25  ...                                                149
15 2020-03-26  ...                                                  0
16 2020-03-27  ...                                                  0
17 2020-03-28  ...                                                  0
18 2020-03-29  ...                                                  0
19 2020-03-30  ...                                                  0
20 2020-03-31  ...                                                  0
21 2020-04-01  ...                                                  0
22 2020-04-02  ...                                                  0
23 2020-04-03  ...                                                  0

[24 rows x 4 columns]

In [0]:
s2.dtypes

DATE                                                     datetime64[ns]
CUMULATIVE TRAVELERS SCREENED                                     int64
SUSPECTED AT POINTS OF ENTRY                                      int64
TRAVELERS SCREENED AT POINTS OFENTRY IN LAST 24 HOURS             int64
dtype: object

In [0]:
s3.dtypes

Returnees                           object
Advised Self-Quarantine              int64
Cumulative no offirst-time calls     int64
Cumulativefollow-up calls            int64
Date                                object
First-time calls inpast 24 hrs       int64
Follow-up calls inpast 24 hrs        int64
dtype: object

In [0]:
s3.columns=s3.columns.str.upper()
s3['DATE']=pd.to_datetime(s3['DATE'])

In [0]:
s3

               RETURNEES  ...  FOLLOW-UP CALLS INPAST 24 HRS
0    Returnees from Iran  ...                            353
1   Returnees from China  ...                            400
2    Returnees from Iran  ...                            668
3   Returnees from China  ...                            109
4    Returnees from Iran  ...                            632
5   Returnees from China  ...                            186
6    Returnees from Iran  ...                            329
7   Returnees from China  ...                             42
8    Returnees from Iran  ...                            443
9   Returnees from China  ...                             77
10   Returnees from Iran  ...                              0
11  Returnees from China  ...                              0
12   Returnees from Iran  ...                            438
13  Returnees from China  ...                             20
14   Returnees from Iran  ...                            274
15  Returnees from China  ...                            719
16   Returnees from Iran  ...                             32
17  Returnees from China  ...                            493
18   Returnees from Iran  ...                            286
19  Returnees from China  ...                              0
20   Returnees from Iran  ...                            354
21  Returnees from China  ...                            266
22   Returnees from Iran  ...                            139
23  Returnees from China  ...                            451
24   Returnees from Iran  ...                            173
25  Returnees from China  ...                            342
26   Returnees from Iran  ...                              0
27  Returnees from China  ...                            424
28   Returnees from Iran  ...                            185
29  Returnees from China  ...                            235
30   Returnees from Iran  ...                            416
31  Returnees from China  ...                            350
32   Returnees from Iran  ...                            133
33  Returnees from China  ...                            267
34   Returnees from Iran  ...                            192
35  Returnees from China  ...                            520
36   Returnees from Iran  ...                              0
37  Returnees from China  ...                            162
38   Returnees from Iran  ...                            100
39  Returnees from China  ...                             71

[40 rows x 7 columns]

In [0]:
s4.dtypes

Unnamed: 0     int64
Date          object
News          object
Agg News      object
dtype: object

In [0]:
s4['Date']=pd.to_datetime(s4['Date'])
s4.drop(['News'], axis=1, inplace=True)
s4.drop(['Unnamed: 0'], axis=1, inplace=True)
s4.drop_duplicates(subset='Date', keep='first',inplace=True) 
s4.columns=s4.columns.str.upper()

In [0]:
s4

          DATE                                           AGG NEWS
0   2020-03-11  Updates: Pakistan: \n Three new cases have bee...
6   2020-03-12  Updates: Pakistan: \n One case confirmed from ...
12  2020-03-13  Updates: Pakistan: \n One case confirmed from ...
18  2020-03-14  Updates: Pakistan: \n 7 new cases confirmed, b...
24  2020-03-15  Updates: Pakistan: \n 3 new cases confirmed, b...
30  2020-03-16  Updates: Pakistan: \n 22 new cases confirmed, ...
35  2020-03-17  Updates: Pakistan: \n 134 new cases confirmed,...
41  2020-03-18  Updates: Pakistan: \n 54 new cases confirmed, ...
45  2020-03-19  Updates: Pakistan: \n During  last  24  hours,...
51  2020-03-20  Updates: Pakistan: \n During last 24 hours, 15...
57  2020-03-21  Updates: Pakistan: \n During last 24 hours, 34...
63  2020-03-22  Updates: Pakistan: \n During last 24 hours, 25...
69  2020-03-23  Updates: Pakistan: \n During last 24 hours, 13...
75  2020-03-24  Updates: Pakistan: \n During last 24 hours, 24...
81  2020-03-25  Updates: Pakistan: \n During last 24 hours, 10...
87  2020-03-26  Updates: Pakistan: \n During last 24 hours, 66...
93  2020-03-27  Updates: Pakistan: \n During last 24 hours, 14...
99  2020-03-28  Updates: Pakistan: \n During last 24 hours, 21...
105 2020-03-29  Updates: Pakistan: \n During last 24 hours, 11...
112 2020-03-30  Updates: Pakistan: \n During last 24 hours, 99...
119 2020-03-31  Updates: Pakistan: \n During last 24 hours, 24...
126 2020-04-01  Updates: Pakistan: \n During last 24 hours, 17...
132 2020-04-02  Updates: Pakistan: \n During last 24 hours, 25...
139 2020-04-03  Updates: Pakistan: \n During last 24 hours, 15...

In [0]:
s5.dtypes

Unnamed: 0                            int64
Date                                 object
NIH Preparedness and Response        object
Agg NIH Preparedness and Response    object
dtype: object

In [0]:

s5['Date']=pd.to_datetime(s5['Date'])
s5.rename(columns={'Unnamed: 0':'S6'},inplace=True)
s5.columns=s5.columns.str.upper()
s5

    S6  ...                  AGG NIH PREPAREDNESS AND RESPONSE
0    0  ...  BSL-3 mobile lab with state of art equipment h...
1    1  ...  BSL-3 mobile lab with state of art equipment h...
2    2  ...  BSL-3 mobile lab with state of art equipment h...
3    3  ...  BSL-3 mobile lab with state of art equipment h...
4    0  ...  BSL-3 mobile lab is ready for testing.  • \n I...
..  ..  ...                                                ...
60   1  ...  Contact tracing of confirmed cases being carri...
61   2  ...  Contact tracing of confirmed cases being carri...
62   0  ...  Contact tracing of confirmed cases being carri...
63   1  ...  Contact tracing of confirmed cases being carri...
64   2  ...  Contact tracing of confirmed cases being carri...

[65 rows x 4 columns]

In [0]:
s6.drop(['Unnamed: 0'], axis=1, inplace=True)

s6['Date']=pd.to_datetime(s6['Date'])

In [0]:
s6['Risk Assessment NIH']=s6['Risk Assessment NIH'].str.replace('Moderate.','MODERATE')

In [0]:
s6.columns=s6.columns.str.upper()

In [0]:
s6

         DATE RISK ASSESSMENT NIH
0  2020-03-11           MODERATE.
1  2020-03-12           MODERATE.
2  2020-03-13           MODERATE.
3  2020-03-14           MODERATE.
4  2020-03-15            Moderate
5  2020-03-16            Moderate
6  2020-03-17            Moderate
7  2020-03-18            Moderate
8  2020-03-19                High
9  2020-03-20                High
10 2020-03-21                High
11 2020-03-22                High
12 2020-03-23                High
13 2020-03-24                High
14 2020-03-25                High
15 2020-03-26                High
16 2020-03-27                High
17 2020-03-28                High
18 2020-03-29                High
19 2020-03-30                High
20 2020-03-31                High
21 2020-04-01                High
22 2020-04-02                High
23 2020-04-03                High

In [0]:
s7.dtypes

Unnamed: 0                                  int64
region                                     object
Provinces Preparedness and Response        object
Date                                       object
Agg Provinces Preparedness and Response    object
dtype: object

In [0]:
s7.rename(columns={'Unnamed: 0':'S8'},inplace=True)
s7.columns=s7.columns.str.upper()

In [0]:
s7['DATE']=pd.to_datetime(s7['DATE'])

In [0]:
s8.columns=s8.columns.str.upper()

In [0]:
s0.drop(['UNNAMED: 0'], axis=1, inplace=True)

In [0]:
s8['DATE']=pd.to_datetime(s8['DATE'])

In [0]:
s8

    UNNAMED: 0  CUMULATIVE CALLS       DATE  NEW CALLS
0            0             12481 2020-03-11        547
1            0             13167 2020-03-12        686
2            0             13896 2020-03-13        729
3            0             15340 2020-03-14       1444
4            0             19131 2020-03-15       3791
5            0             26193 2020-03-16       7062
6            0             33427 2020-03-17       7234
7            0             41563 2020-03-18       8136
8            0             48786 2020-03-19       7223
9            0             56892 2020-03-20       8106
10           0             65602 2020-03-21       8710
11           0             65602 2020-03-22       8710
12           0             84700 2020-03-23       9654
13           0             93991 2020-03-24       9291
14           0            110052 2020-03-25      16061
15           0            152633 2020-03-26      42581
16           0            152633 2020-03-27          0
17           0            321600 2020-03-28     138062
18           0            449289 2020-03-29     128229
19           0            531628 2020-03-30      82799
20           0            620574 2020-03-31      88946
21           0            700728 2020-04-01      80154
22           0            772723 2020-04-02      71995
23           0            840021 2020-04-03      67298

In [0]:
saving = pd.ExcelWriter('file.xlsx')

s0.to_excel(saving,'s0.xlsx', index=False)
s1.to_excel(saving,'s1.xlsx', index=False)
s2.to_excel(saving,'s2.xlsx', index=False)
s3.to_excel(saving,'s3.xlsx', index=False)
s4.to_excel(saving,'s4.xlsx', index=False)
s5.to_excel(saving,'s5.xlsx', index=False)
s6.to_excel(saving,'s6.xlsx', index=False)
s7.to_excel(saving,'s7.xlsx', index=False)
s8.to_excel(saving,'s8.xlsx', index=False)
s9.to_excel(saving,'s9.xlsx', index=False)
saving.save()